.c { color: #55B7FF; }
.m { color: #FF559D; }
.y { color: #FFF796; }

.margin-top { margin-top: 3vh; }
.margin-right { margin-right: 3vh; }
.margin-bottom { margin-bottom: 3vh; }
.margin-bottom { margin-bottom: 3vh; }
.margin-left { margin-left: 3vh; }

.simple-column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.simple-row {
  display: flex;
  align-items: center;
}

.absolute {
  position: absolute;
}

.link {
  font-size: 4vh;
  margin: 0;
}

.project-svg {
  height: 50vmin;
  width: 50vmin;
  max-height: 50vmin;
  max-width: 50vmin;
}

.project-svg-preview {
  height: 15vmin;
  width: 15vmin;
  max-height: 15vmin;
  max-width: 15vmin;
  margin: 3vmin;
}