.c { color: #1F2673; }
.c2 { color: #6783E2; }
.m { color: #F98B9E; }
.m2 { color: #FFBAC6; }
.y { color: #FFF; }

.margin-top { margin-top: 3vh; }
.margin-right { margin-right: 3vh; }
.margin-bottom { margin-bottom: 3vh; }
.margin-bottom { margin-bottom: 3vh; }
.margin-left { margin-left: 3vh; }
.margin-x {
  /* margin-left: 1.5vh; */
  margin-right: 3vh;
}

.simple-column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.simple-row {
  display: flex;
  align-items: center;
}

.absolute {
  position: absolute;
}

.link {
  font-size: 4vh;
  margin: 0;
}

.project-svg {
  height: 40vmin;
  width: 40vmin;
  max-height: 40vmin;
  max-width: 40vmin;
}

.project-svg-preview {
  height: 15vmin;
  width: 15vmin;
  max-height: 15vmin;
  max-width: 15vmin;
  margin: 3vmin;
}