.c { color: #55B7FF; }
.m { color: #FF559D; }
.y { color: #FFF796; }

.margin-top { margin-top: 3vh; }
.margin-right { margin-right: 3vh; }
.margin-bottom { margin-bottom: 3vh; }
.margin-bottom { margin-bottom: 3vh; }
.margin-left { margin-left: 3vh; }