.kana-prac {
  border: #55B7FF 5px solid;
  border-radius: 4px;
  white-space: nowrap;
}

.kana-text-japanese {
  font-family: "Rounded Mplus 1c";
  background: #55B7FF;
  color: #FFF796;
  padding: 10vh 10px 0 10px;
}

.kana-text-english {
  font-family: "Varela Round", sans-serif;
  color: #55B7FF;
  padding: 0 10px 10vh 10px;
}