html {
    background: #FFF;
    background-image: url(/assets/fan-bg-x.svg);
    background-position: center 10vh;
    background-repeat: repeat-x;
    background-size: 20vh;
    --color-1dark: #1F2673;
    --color-1light: #6783E2;
    --color-2dark: #F98B9E;
    --color-2light: #FFBAC6;
}
body {
    margin: 0;
    font-family: futura;
}
main {
    overflow: hidden;
    min-height: 100vh;
    padding: 0;
    display: flex;
}
footer {
    bottom: 0;
    z-index: 5;
}
footer {
    height: 10vh;
    display: flex;
    padding: 0 7.5%;
    position: fixed;
    justify-content: center;
    align-items: center;
}
main,
footer {
    width: 100vw;
    box-sizing: border-box;
}

.intro-header {
    margin: 0;
    font-size: 7.5vh;
}

/* BASIC SKELETON */

.projects-container {
    display: flex;
    transition: 0.5s;
}
.project-display {
    display: flex;
    min-width: 100vw;
    position: relative;
}
.project-display-section {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100%;
    min-width: 50vw;
}
.project-display-section-header {
    margin: 0;
    font-size: 7.5vh;
    height: 16vh;
}
.project-display-section-header.slim {
    height: 10vh;
}
.project-display-section,
.project-display-section-header {
    font-size: 6vh;
}
.project-display .project-display-section-header {
    color: var(--color-1dark);
}
.project-display:nth-child(even) .project-display-section-header {
    color: var(--color-2dark);
}
.project-display .project-link {
    color: var(--color-2light);
}
.project-display:nth-child(even) .project-link {
    color: var(--color-1light);
}

/* SHAPE */

.shape {
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    font-size: 3vh;
    height: 6vh;
    padding: 2vh 0 0 1vh;
    width: 6vh;
}
.shape.bullet {
    margin-right: 2vh;
}

.shape-icon {
    height: 3vh;
}
.shape.m,
.project-display .shape.bullet {
    background-image: url("/assets/svg/fan-m.svg");
}
.shape.c,
.project-display:nth-child(even) .shape.bullet {
    background-image: url("/assets/svg/fan-c.svg");
}

.shape-spin {
    animation: spin 8s infinite linear;
    height: 15vh;
    position: absolute;
    width: 15vh;
}
.shape-twirl {
    animation: float 2s infinite linear;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 15vh;
}
.shape-spin:first-child {
    animation-delay: -2s;
}
.shape-twirl:first-child {
    animation-delay: -1s;
}

/* ICONS */

.icons {
    display: flex;
}
.icons > .shape {
    margin: 2.5vh;
    height: 6vh;
    width: 6vh;
    cursor: pointer;
}

@media (max-width: 768px) {
    html {
        background-image: url(/assets/fan-bg-y.svg);
        background-position: 5vw center;
        background-repeat: repeat-y;
        background-size: 10vw;
    }
    footer {
        padding: 0 20%;
    }
    .project-display {
        flex-direction: column-reverse;
        justify-content: flex-end;
        min-width: 100vw;
    }
    .project-display-section{
        height: 40vh;
        min-height: auto;
        min-width: 100%;
    }

    .shape-spin {
        height: 9vh;
        width: 9vh;
    }
    .shape-twirl {
        width: 9vh;
    }
    /* .icons {
        justify-content: space-between;
        width: 100%;
    } */
}