html {
    background: #55B7FF;
}
body {
    margin: 0;
    font-family: futura;
}
header {
    background: #55B7FF;
    top: 0;
    z-index: 5;
}
main {
    overflow: hidden;
    background: #FFF796;
    min-height: 100vh;
    padding: 0;
    display: flex;
}
footer {
    background: #FF559D;
    bottom: 0;
}
header,
footer {
    height: 10vh;
    display: flex;
    padding: 0 7.5%;
    position: fixed;
    justify-content: center;
    align-items: center;
}
header,
main,
footer {
    width: 100vw;
    box-sizing: border-box;
}

/* BASIC SKELETON */

.projects-container {
    display: flex;
    transition: 1s;
}
.project-display {
    display: flex;
    min-width: 100vw;
    position: relative;
}
.project-display-section {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100%;
    min-width: 50vw;
}
.project-display-section-header {
    margin: 0;
    font-size: 7.5vh;
}
.project-display-section,
.project-display-section-header {
    font-size: 6vh;
}

/* SEPTAGON */

.septagon {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    font-size: 3vh;
    height: 6vh;
    justify-content: center;
    width: 6vh;
}
.septagon.c { background-image: url("/assets/svg/septagon-c.svg"); }
.septagon.m { background-image: url("/assets/svg/septagon-m.svg"); }
.septagon.y { background-image: url("/assets/svg/septagon-y.svg"); }
.septagon-spin {
    width: 15vh;
    height: 15vh;
    animation: spin 14s infinite linear;
}
.septagon-twirl {
    width: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: float 2s infinite linear;
}
.septagon.bullet {
    margin-right: 2vh;
}

/* ICONS */

.icons {
    display: flex;
}
.icons > .septagon {
    margin: 2.5vh;
    height: 6vh;
    width: 6vh;
    cursor: pointer;
}

@media (max-width: 768px) {
    .project-display {
        flex-direction: column-reverse;
        justify-content: center;
        min-width: 100vw;
    }
    .project-display-section{
        height: 40vh;
        min-height: auto;
        min-width: 100%;
    }
    .project-display-section-header {
        font-size: 6vh;
    }

    .septagon-spin {
        height: 9vh;
        width: 9vh;
    }
    .septagon-twirl {
        width: 9vh;
    }

    .icons {
        justify-content: space-between;
        width: 100%;
    }
}