html {
    background: #FFF;
    background-image: url(/assets/fan-bg-x.svg);
    background-position: center 10vh;
    background-repeat: repeat-x;
    background-size: 20vh;
    --color-1dark: #1F2673;
    --color-1light: #6783E2;
    --color-2dark: #F98B9E;
    --color-2light: #FFBAC6;
}
body {
    margin: 0;
    font-family: futura;
}
main {
    overflow: hidden;
    min-height: 100vh;
    padding: 0;
    display: flex;
}
footer {
    bottom: 0;
    z-index: 5;
}
footer {
    height: 10vh;
    display: flex;
    padding: 0 7.5%;
    position: fixed;
    justify-content: center;
    align-items: center;
}
main,
footer {
    width: 100vw;
    box-sizing: border-box;
}

.intro-header {
    margin: 0;
    font-size: 5vh;
}

/* BIO */

.bio-text-container {
    height: 45vh;
    line-height: 1.5;
    overflow: scroll;
}
.bio-header,
.bio-text {
    margin: 0;
    margin-bottom: 2.5vh;
}
.bio-accent {
    color: var(--color-1light);
    display: inline;
    text-space-collapse: discard;
    /* float:left; */
}

/* BASIC SKELETON */

.projects-container {
    display: flex;
    transition: 0.5s;
}
.project-display {
    display: flex;
    min-width: 100vw;
    position: relative;
}
.project-display-section {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100%;
    min-width: 50vw;
}
.project-display-information {
    box-sizing: border-box;
    height: 40vh;
    width: 40vh;
    padding-top: 2.5vh;
}
.project-display-information.bio {
    padding-top: 0;
    width: 80%;
}
.project-display-section-header {
    margin: 0;
    font-size: 5vh;
    height: 15vh;
}
.project-display .project-display-section-header {
    color: var(--color-1dark);
}
.project-display:nth-child(even) .project-display-section-header {
    color: var(--color-2dark);
}
.project-bullet {
    align-items: center;
    display: flex;
    height: 5vh;
    margin-top: 3vh;
}
.project-link {
    font-size: 3.5vh;
    margin: 0;
}
.project-responsibilities {
    font-size: 2.5vh;
    margin: 0;
}
.project-display .project-responsibilities {
    color: var(--color-1light);
}
.project-display:nth-child(even) .project-responsibilities {
    color: var(--color-2light);
}
.project-display .project-link {
    color: var(--color-2light);
}
.project-display:nth-child(even) .project-link {
    color: var(--color-1light);
}

/* SHAPE */

.shape {
    background-repeat: no-repeat;
    background-size: contain;
    height: 5vh;
    width: 5vh;
}
.shape.bullet {
    margin-right: 2vh;
    position: relative;
}

.shape-icon {
    height: 2.5vh;
    position: absolute;
    bottom: 1vh;
    left: 1vh;
}
.project-display .shape.bullet {
    background-image: url("/assets/svg/fan-m.svg");
}
.project-display:nth-child(even) .shape.bullet {
    background-image: url("/assets/svg/fan-c.svg");
}

.shape-spin {
    animation: spin 8s infinite linear;
    height: 15vh;
    position: absolute;
    width: 15vh;
}
.shape-twirl {
    animation: float 2s infinite linear;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 15vh;
}
.shape-spin:first-child {
    animation-delay: -2s;
}
.shape-twirl:first-child {
    animation-delay: -1s;
}

/* ICONS */

.icons {
    display: flex;
}
.icons > .shape {
    margin: 2.5vh;
    height: 6vh;
    width: 6vh;
    cursor: pointer;
}

/* FOOTER */
.slide-img {
    height: 5vh;
    width: 5vh;
}

@media (max-width: 768px) {
    html {
        background-image: url(/assets/fan-bg-y.svg);
        background-position: 5vw center;
        background-repeat: repeat-y;
        background-size: 5vw;
    }
    footer {
        padding: 0 20%;
    }
    .project-display {
        flex-direction: column-reverse;
        justify-content: flex-end;
        min-width: 100vw;
    }
    .project-display-section {
        height: 40vh;
        min-height: auto;
        min-width: 100%;
    }
    .project-display-information.bio {
        padding-left: 7.5vh;
        padding-top: 5vh;
    }
    .bio-text-container {
        height: 75vh;
    }

    .shape-spin {
        height: 9vh;
        width: 9vh;
    }
    .shape-twirl {
        width: 9vh;
    }
    /* .icons {
        justify-content: space-between;
        width: 100%;
    } */
}