@keyframes spin {
    0%   { transform: rotate(000deg) }
    100% { transform: rotate(360deg) }
}

@keyframes float {
    0%   { transform: translateY(-100%) rotate( 000deg) }
    50%  { transform: translateY( 100%) rotate(-180deg) }
    100% { transform: translateY(-100%) rotate(-360deg) }
}

html {
    background: #55B7FF;
}

body {
    margin: 0;
    font-family: futura;
}



.top, .bottom {
    width: 100vw;
    box-sizing: border-box;
}

.top {
    overflow: scroll;
    background: #FFF796;
    min-height: 90vh;
    padding: 0;
    padding-top: 30px;
    display: flex;
}

.display-main {
    display: flex;
    position: relative;
}
.display-main.full {
    min-width: 100vw;
}
.display-main.half {
    min-width: 50vw;
    flex-direction: column-reverse;
    justify-content: space-around;
}


.display-main-section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.display-main-section.half {
    width: 50%;
}
.display-main-section.full {
    width: 100%;
}

.display-main-section-header {
    margin: 0;
    font-size: 7.5vh;
}
.display-main-section.full .display-main-section-header {
    font-size: 6vh;
}

.right {
    justify-content: center;
    position: relative;
}

.project {
    min-width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.milk {
    height: 50vh;
    position: absolute;
}
.spin {
    width: 15vh;
    height: 15vh;
    animation: spin 14s infinite linear;
}
.triangle {
    width: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: float 2s infinite linear;
}


.display-main-section.full .milk {
    height: 30vh;
}
.display-main-section.full .spin {
    height: 9vh;
    width: 9vh;
}
.display-main-section.full .triangle {
    width: 9vh;
}

.triangle > .circle {
    margin-top: 27px;
}

.bottom {
    background: #FF559D;
    height: 10vh;
    display: flex;
    padding: 0 7.5%;
    justify-content: space-between;
    align-items: center;
}

.icons {
    display: flex;
}

.icons > .circle {
    margin: 2.5vh;
}

.circle {
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 6vh;
    background: #FFF796;
    border-radius: 100%;
}

.circle img {
    height: 4vh;
}

.c {
    color: #55B7FF;
}

.m {
    color: #FF559D;
}

.y {
    color: #FFF796;
}

.simple-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (max-width: 768px) {
    .top {
        min-height: 80vh;
    }

    .display-main {
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    .display-main.half {
        min-width: 100vw;
    }

    .project,
    .display-main-half {
        min-width: 100vw;
    }

    .milk {
        height: 30vh;
    }

    .spin {
        height: 9vh;
        width: 9vh;
    }

    .triangle {
        width: 9vh;
    }

    .icons {
        justify-content: space-between;
        width: 100%;
    }

}